*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lexend', sans-serif;
    color: white;
    width: 1920px;
    height: 5223px;
    margin: 0 auto;
    background-color: #1A1A1A;
}
.container{
    width: 1596px;
    height: 950px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
    background-color: #191919;
}

/* header */
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    border: 1px solid transparent;
    border-radius: 999px;
    padding: 10px 20px;
}
li:nth-child(3){
    background-color:#333333;
}
.header-top{
    background-color:#262626;
    display:flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid #262626;
    border-radius: 999px;
    padding: 20px 34px;
    font-weight: 400;
}
.header__logo{
    display:flex;
    align-items: center;
}
.navbar__list{
    display:flex;
    gap: 26px;
}
.navbar__link{
    padding:10px 0px;
}
.action{
    display:flex;
    gap: 26px;
}
.action__btn{
    padding: 10px 0;
}
.action__btn:last-child{
    background-color:#CAFF33;
    color: black;
    padding: 14px 30px;
    border-radius: 999px;
}

/* hero */
.hero{
    position: relative;
    width: 1596px;
    height: 816px;
    background-color: #1C1C1C;
    margin: 53px 0 150px;
}
.hero__content img{
    position: absolute;
    top: 0;
    right: 0;
}
.hero__content img:nth-of-type(2){
    padding: 50px 50px 261px 538px;
}
.sub__container{
    width: 791px;
    height: 579px;
    background-color: #1A1A1A;
    border-radius: 20px 0px 80px 20px;
    margin: 50px 758px 187px 50px;
    padding: 80px;
    position: absolute;
}

.sub__container__top p{
    font-size: 20px;
    line-height: 150%;
}
.sub__container__top h1{
    font-weight:500;
    font-size: 58px;
    line-height: 130%;
}
.sub__container p:last-child{
    font-weight:300;
    font-size: 18px;
    line-height: 150%;
    margin-top: 23px;
}

/* main */
.main{
    margin: 150px auto 0px;
}
.container01{
    width: 1596px;
    height: 1362px;
    margin-bottom: 150px;
}
.container__text{
    width: 1596px;
    height: 140px;
    margin-bottom: 80px;
    padding-right: 300px;
}
.container__text h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #CAFF33;
    margin-bottom: 14px;
}
.container__text p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
}
.container__sub{
    width: 1596px;
    height: 1142px;
}
.container__sub01, .container__sub02{
    width: 1596px;
    height: 621px;
    position: relative;
    display: flex;
}
.container__sub01 img:first-child{
    margin: 0 31px;
}
.container__sub02 img:first-child{
    margin: 0 31px;
    position: absolute;
    right: 0;
}
.container__sub01 img:nth-child(2), .container__sub02 img:nth-child(2){
    width: 664px;
    height: 621px;
    opacity: 0.5;
    position: absolute;
    left: 0;
    border: 1px solid transparent;
    border-radius: 50px 50px 20px 20px;
}
.container__sub01 img:last-of-type, .container__sub02 img:last-of-type{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 60px;
}
.container__sub01--text{
    width: 932px;
    height: 206px;
    align-self: center;
    padding: 0 0 0 50px;
}
.container__sub01--img, .container__sub02--img{
    position: relative;
}
.container__sub01--img::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: #CAFF33;
}
.container__sub02--img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: #CAFF33;
}
.container__sub01--text h3, .container__sub02--text h3{
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.container__sub01--text p, .container__sub02--text p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
}
.container__sub02--text{
    width: 932px;
    height: 206px;
    align-self: center;
    padding: 0 50px 0 0;
}
.container__sub02--img img:first-child{
    position: absolute;
    left: 0;
}
.container__sub02{
    z-index: 1;
    bottom: 100px;
}

/* press */
.container02{
    width: 1596px;
    height: 1819px;
}
.container02 .container__text{
    width: 1596px;
    height: 113px;
    margin-top: 150px;
    margin-bottom: 80px;
}
.container02 h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #CAFF33;
    margin-bottom: 14px;
}
.container02 p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
}
.container__press{
    width: 1596px;
    height: 1626px;
}
.press01, .press02{
    width: 1596px;
    height: 798px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.card{
    width: 783px;
    background: #262626;
    border-radius: 40px 40px 16px 16px;
}
.card img{
    padding: 30px 30px 51px;
}
.card__content{
    padding: 0 30px 57px;
}
.card__content p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    padding: 0 30px;
}
.card__content--title{
    padding: 0 30px 30px;
}
.card__content--title h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 20px;
}
.card__content--info{
    display: flex;
    gap: 10px;
    color: #B3B3B3;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}
.card__content--date{
    border: 1px solid #262626;
    padding: 8px 16px;
    border-radius: 68px;
    background: #1A1A1A;
}