.faq {
    margin-top: 9.375rem;
}
.faq__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.faq__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-right: 18.75rem;
}
.faq__card__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.faq__card__content__top, .faq__card__content__bottom {
    display: flex;
    gap: 30px;
}
.faq__card__content__top__left, .faq__card__content__top__right, .faq__card__content__bottom__left, .faq__card__content__bottom__right {
    max-width: 782px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 14px;
    border: 1px solid #262626;
    padding: 3.125rem;
}
.faq__card__content__title {
font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}
.line {
    width: 100%;
    height: 1px;
    border: 1px solid #262626;
}
.faq__card__content__bottom {
    position: relative;
}
.faq__card__content__bottom::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #191919 100%);
}
.faq__card__content__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    border-radius: 100px;
    border: 1px solid #262626;
    background-color: #1C1C1C;
    padding: 1.125rem 1.5rem;
}
.faq__card__content__button span {
    font-size: 1.125rem;
    font-weight: 400;
    font-family: Inter, serif;
    color: #fff;
}
.faq__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}