.hero__content {
    position: relative;
    border-radius: 20px;
    padding: 3.125rem;
    background: #1C1C1C;
    z-index: -2;
}

.hero__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 791px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 80px;
    padding: 5rem;
    background-color: #1A1A1A;
}

.hero__title {
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 1.3;
    color: #FFFFFF;
}

.hero__highlight {
    color: #CAFF33;
}

.hero__desc {
    color: #B3B3B3;
}

.hero__img {
    display: flex;
    justify-content: flex-end;
}

.hero__pattern {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
    .hero__content {
        padding: 2.5rem;
    }
    .hero__pattern img {
        max-width: 334px;
    }
    .hero__text {
        max-width: 658px;
        gap: 20px;
        border-bottom-right-radius: 60px;
        padding: 3.75rem;
    }
    .hero__title {
        font-size: 3rem;
    }
    .hero__desc {
        font-size: 1rem;
    }
    .hero__img img {
        max-width: 715px;
    }
}

@media (max-width: 390px) {
    main {
        padding-top: 10rem;
    }

    .container {
        max-width: 358px;
        margin: 0 auto;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        padding: 0.875rem;
        height: 605px;
    }

    .hero__text {
        text-align: center;
        max-width: 329px;
        padding: 1.5rem;
        border-radius: 20px;
        gap: 0.875rem;
        top: 230px;

    }

    .hero__title {
        font-size: 1.75rem;
    }

    .hero__desc {
        font-size: 0.875rem;
    }

    .hero__img {
        justify-content: center;
    }

    .hero__img img {
        width: 329px;
    }

    .hero__pattern img {
        width: 199px;
    }
}