.job-openings {
    margin-top: 9.375rem
}
.job-openings__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.job-openings__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.job-openings__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-right: 18.75rem;
}

.job-openings__title {
    color: #CAFF33;
}
.job-openings__card__top, .job-openings__card__bottom {
    display: flex;
    gap: 30px;
}
.job-openings__card__top__left, .job-openings__card__top__right, .job-openings__card__bottom__left {
    display: flex;
    flex-direction: column;
    width: 783px;
    justify-content: space-between;
    gap: 50px;
    border-radius: 16px;
    border: 1px solid #262626;
    background-color: #1C1C1C;
    padding: 3.125rem;
}
.job-openings__card__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.job-openings__card__content__header {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.job-openings__card__content__header h3 {
    font-size: 1.875rem;
    font-weight: 600;
    color: #FFFFFF;
}
.job-openings__card__content__header__desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.job-openings__card__content__header__desc span {
    border-radius: 68px;
    border: 1px solid #262626;
    padding: 0.5rem 1rem;
    color: #B3B3B3;
}
.job-openings__card__content__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.job-openings__card__content__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.job-openings__card__content__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
}
.job-openings__card__content__list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.job-openings__card__content__list ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.job-openings__btn {
    display: flex;
    width: 157px;
    padding: 1rem 1.875rem;
    text-decoration: none;
}