* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    font-family: "Lexend", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        font-size: 14px;
    }

    .container {
        width: 100%;
        max-width: 100%;
        padding: 0 16px;
        margin: 0 auto;
    }
}
