.press-card{
    display: flex;
    gap: 3rem;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 5rem;
    background: #1C1C1C;
    border: 0.1rem solid #262626;
    border-radius: 4rem 4rem 1.6rem 1.6rem;
}
.card-content{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    gap: 3rem;
}
.card-content-title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-content-title h4{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 150%;
}
.card-content-info{
    display: flex;
    gap: 1rem;
}
.card-content-info span{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 150%;
    color: #B3B3B3;
}
.card-content-date{
    border: 0.1rem solid #262626;
    background: #1A1A1A;
    padding: 0.8rem 1.6rem;
    border-radius: 6.8rem;
}
@media (max-width: 992px) {
    .press-card {
        gap: 2rem;
    }
    .card {
        padding: 2rem;
        gap: 4rem;
    }
    .card-content-title h4 {
        font-size: 2rem;
    }
    .card-content-info {
        gap: 0.6rem;
    }
    .card-content-info span {
        font-size: 1.2rem;
    }
    .card-content {
        padding: 0 2rem;
        gap: 2rem;
    }
    .card-content p {
        font-size: 1.6rem;
    }
    .card-content-date {
        padding: 0.6rem 1.4rem;
    }
}
@media (max-width: 768px) {
    .card {
        gap: 3rem;
    }
    .press-card {
        flex-direction: column;
    }
    .card-content-title h4 {
        font-size: 1.8rem;
    }
    .card-content-info span {
        font-size: 1.4rem;
    }
    .card-content {
        padding: 0;
        gap: 2rem;
    }
    .card-content p {
        font-size: 1.4rem;
    }
}