footer .container{
    max-width: 192rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1C1C1C;
    padding: 10rem 16rem 5rem;
}
.footer-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 5rem;
}
.footer-header .footer-navbar-list a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-header .footer-navbar-list a:hover{
    background: #262626;
    padding: 1.2rem 2rem;
    border: 0.1rem solid transparent;
    border-radius: 8.2rem;
}
.footer-header .footer-navbar-list{
    list-style: none;
    display: flex;
    gap: 2.6rem;
    font-size: 1.8rem;
    font-weight: 400;
}
.line{
    max-width: 159.6rem;
    width: 100%;
    border-top: 1px solid #262626;
    margin-bottom: 5rem;
}
.footer-btn{
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}
.footer-btn-container{
    display: flex;
    gap: 0.6rem;
}
.custom-button{
    color: #E4E4E7;
    font-size: 1.8rem;
    background: transparent;
    border: none;
}
/* Footer foot */
.footer-foot{
    width: 100%;
    max-width: 159.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid #262626;
    border-radius: 10rem;
    padding: 1.6rem 3rem 1.6rem 1.6rem;
    margin-bottom: 5rem;
    background: #1A1A1A;
}
.foot-social{
    display: flex;
    gap: 1.4rem;
}
.social{
    border: 0.1rem solid transparent;
    border-radius: 10rem;
    padding: 1.4rem;
    background: #CAFF33;
}
.footer-foot span{
    font-weight: 300;
    font-size: 1.8rem;
    color: #B3B3B3;
}
.footer-link{
    text-decoration: none;
    color: #B3B3B3;
}
@media (max-width: 992px) {
    footer .container {
        max-width: 144rem;
        padding: 6rem 8rem 3rem;
    }
    .footer-header{
        gap: 4rem;
        margin-bottom: 4rem;
    }
    .footer-header .footer-navbar-list {
        gap: 1.4rem;
        font-size: 1.6rem;
    }
    .footer-header .footer-navbar-list a:hover {
        padding: 1rem 1.8rem;
    }
    .line {
        max-width: 128rem;
        margin-bottom: 4rem;
    }
    .footer-btn{
        margin-bottom: 4rem;
    }
    .custom-button {
        font-size: 1.6rem;
    }
    /* Footer foot */
    .footer-foot{
        padding: 1.2rem 2.4rem 1.2rem 1.2rem;
        margin-bottom: 3rem;
    }
    .foot-social{
        display: flex;
        gap: 0.8rem;
    }
    .social{
        border: 0.1rem solid transparent;
        border-radius: 10rem;
        padding: 1rem;
        background: #CAFF33;
    }
    .footer-foot span{
        font-size: 1.4rem;
        color: #B3B3B3;
    }
    .footer-link{
        font-size: 1.4rem;
    }
}
@media (max-width: 768px) {
    footer .container {
        max-width: 39rem;
        padding: 5rem 1.6rem 3rem;
    }
    .footer-header{
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .footer-header .footer-navbar-list {
        gap: 1.2rem;
        font-size: 1.4rem;
    }
    .line {
        max-width: 35rem;
    }
    .footer-btn{
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .custom-button {
        font-size: 1.4rem;
    }
    .footer-btn-container img{
        max-width: 2rem;
    }
    /* Footer foot */
    .footer-foot{
        display: flex;
        flex-direction: column;
        padding: 5rem 2.4rem 2rem 1.2rem;
        margin-bottom: 3rem;
        gap: 2rem;
        border-radius: 1.2rem;
    }
    .foot-social{
        margin-top: -7rem;
    }
    .footer-foot span{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .foot-end{
        margin-bottom: 2rem;
    }
}


