.press-section{
    margin-bottom: 15rem;
}
.press-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.press-header{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-right: 30rem;
    margin-bottom: 8rem;
}
.press-section h2{
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 150%;
    color: #CAFF33;
}
.press-section p{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 150%;
    color: #B3B3B3;
}
@media (max-width: 992px) {
    .press-section{
        margin-bottom: 12rem;
    }
    .press-card-container{
        gap: 2rem;
    }
    .press-header {
        gap: 1rem;
        padding-right: 15rem;
        margin-bottom: 6rem;
    }
    .press-section h2{
        font-size: 3.8rem;
    }
    .press-section p{
        font-size: 1.6rem;
    }
}
@media (max-width: 768px) {
    .press-section{
        margin-bottom: 8rem;
    }
    .press-header {
        padding-right: 0;
        text-align: center;
        margin-bottom: 4rem;
    }
    .press-section h2{
        font-size: 2.8rem;
    }
    .press-section p{
        font-size: 1.4rem;
    }
}