* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lexend', sans-serif;
    background: #1A1A1A;
    line-height: 1.5%;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 1.6rem;
}
.container{
    background: #1A1A1A;
    max-width: 159.6rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 2rem;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
